<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--<a href={{url_for("index")}}> Start the Evaluation</a>
</body>
</html><!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->


<head>

  <meta charset="UTF-8">

  <title>MentalEvaluationApp</title>
  
 

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  


 



</head>


<style>

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: black;
    background-image: url("https://media.giphy.com/media/ToMjGpjm9vQhsB4cqVa/giphy.gif");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 5px inset ;
    border-color: #ffa03a;

    
}



</style>


<body style="

background-size: 50%;

background-position:  top center;
background-color:black;

;">




<div class="gio" style= "

border: 30px inset ;
border-color: #ffd3a3;
background-color: rgb(255, 199, 136);



">


  <h1 style="  color: #000000; 
  font-family:
   'Lato', sans-serif;
    font-size: 54px; 
    font-weight: 300;
    line-height: 58px;
    margin: 0 0 58px;
    text-align: center;
    margin-top: 20px;
    "> 
    
    Mental Evaluation App
  
  </h1>

  <p style= "color: #000000;
   font-family: 
   'Lucida Sans', Arial, sans-serif; 
   font-size: 16px; 
   line-height: 26px;
   text-indent: 30px; 
   margin: 0;
   text-align: center;
    
  "> 
  
  Have you been feeling down lately? Not sure where to get the mental help you need?
  Or even just checking in on your mental status? 

  </p>


  <br/>

  <p style= "color: #000000;
   font-family: 
   'Lucida Sans', Arial, sans-serif; 
   font-size: 16px; 
   line-height: 26px;
   text-indent: 30px; 
   margin: 0;
   text-align: center;
   margin-bottom: 20px;
    
  "> 
  
  No problem! Just click the <b>Get Started</b> button and we will guide you!

  </p>


</div>




<img src="https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/giphy.gif" 
alt="Girl in a jacket" 
style=" 



display: block;
border: 30px outset ;
border-color: #ffbd76;




margin-left: auto;
margin-right: auto;
margin-top: 50px

"

>
  

<br/>
<br/>
<br/>
 
<a href="{{url_for('index')}}" class="button">
  
 Get Started


</a>





</body>

</html>